<nav class="navbar navbar-expand-lg   navbar-dark py-0 ">
  <div class="container-fluid py-0 my-0 d-flex">
    <div class="logo d-flex ">
      <a class="navbar-brand py-4  mx-0 px-4 border-end" href="#">NGP-Next</a>

      <div class="py-2  pe-2 mx-0 rounded folder w-100 border-end   ">
        <ul class="navbar-nav mx-4">
          <li class="nav-item me-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="#cbcb00"
              class="bi bi-folder2-open"
              viewBox="0 0 16 16"
            >
              <path
                d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"
              />
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <ul class="d-flex list-unstyled m-3">
      <li class="nav-item align-self-center d-flex flex-column text-end me-2 fs-6">
        <span>Marco</span>
        <span>Valente</span>
      </li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        fill="currentColor"
        class="bi bi-person-circle"
        viewBox="0 0 16 16"
      >
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </svg>
    </ul>
  </div>
</nav>
