<div
class="total-grid"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
[scrollWindow]="false"
(scrolled)="onScroll()"

>
<div class="row gx-3">

    <div class="col-xl-4 col-lg-6" *ngFor="let card of info_cards">
        <app-card-details [cardData]="card" ></app-card-details>
    </div>
    </div>

</div>