<div class="card mb-3 rounded-0" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4 image-card">
      <img src="" alt="..." />
    </div>
    <div class="col-md-8">
      <h5 class="card-header rounded-0 border-0 w-100">
        {{ cardData.title | uppercase }}
      </h5>
      <div class="card-body border-0 rounded-0 card-content">
        <h6 class="card-text">
          {{ cardData.clientName | uppercase  }}
        </h6>
        <h6 class="card-text">
          {{ cardData.operatorName| uppercase  }}
        </h6>

        <h6 class="card-text">
          {{ cardData.height  }}
        </h6>
        <h6 class="card-text">
          {{ cardData.tags }}
        </h6>
      </div>
    </div>
  </div>
</div>
