
  <div class="row gy-4 form-gr">
    <div class="col-lg-6">
      <label for="">CLIENTE</label>

      <input
      [(ngModel)]="clientName"
      (keyup)="inputTyped(clientName)"
        placeholder="LOREM IPSUM"
        type="text"
        class="form-control fs-5 form-control-lg rounded-0"
      />
    </div>

    <div class="col-lg-6">
      <label for="">OPERATORE</label>
      <select
        [(ngModel)]="OperatorName"
        (change)="selectedTyped(OperatorName)"
        class="form-select form-select-lg rounded-0"
      >
        <option
          *ngFor="let operator of operators; let i = index"
          [value]="operator"
        >
          {{ operator }}
        </option>
      </select>
    </div>

    <div class="col-lg-6">
      <label for="">CODICE DISEGNO</label>

      <input
        type="text"
        placeholder="546546454"
        class="form-control form-control-lg rounded-0"
      />
    </div>
    <div class="col-lg-6">
      <label for="">TIPO DI SEZIONE</label>
      <select class="form-select form-select-lg rounded-0"></select>
    </div>

    <div class="col-lg-6">
      <label for="">MATERIALE</label>
      <input
        type="text"
        placeholder="LOREM IPSUM"
        class="form-control form-control-lg rounded-0"
      />
    </div>
    <div class="col-lg-6">
      <label for="">DIAMETRO 1 (mm)</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>

    <div class="col-lg-6">
      <label for="">SPESSORE (mm)</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>
    <div class="col-lg-6">
      <label for="">DIAMETRO 2 (mm)</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>

    <div class="col-lg-6">
      <label for="">RAGGIO MEDIO (mm)</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>
    <div class="col-lg-6">
      <label for="">TIPOLOGIE DI PIEGHE</label>
      <select class="form-select form-select-lg rounded-0"></select>
    </div>

    <div class="col-lg-6">
      <label for="">NUMERO CURVE</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>
    <div class="col-lg-6">
      <label for="">LUNGHEZZA (mm)</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>

    <div class="col-lg-6">
      <label for="">ULTIMA PRODUZIONE</label>
      <input type="text" class="form-control form-control-lg rounded-0" />
    </div>
    <div class="col-lg-6">
      <label for="">CARICO / SCARICO AUTOM.</label>
      <select class="form-select form-select-lg rounded-0"></select>
    </div>

    <div class="col-lg-12 mb-3">
      <label for="">TAG</label>
      <textarea class="form-control form-control-lg rounded-0"></textarea>
    </div>

    <div class="col-md-12 mb-3 d-flex">
      <button class="btn text-white me-auto py-2 align-items-center">
        <i class="bi bi-arrow-repeat me-2 fs-5"></i> RIPRISTINA FILTRI
      </button>
      <button class="btn text-white ms-2 py-2">
        <i class="bi bi-gear me-2 fs-5"></i> RCONFIGURA VISTA LIBRERIA
      </button>
    </div>
  </div>

