/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$font-family-sans-serif: "Roboto", sans-serif;
$enable-responsive-font-sizes: true;
$btn-border-radius: 10px;

$theme-colors: (
  "subheader": #363635,
  "body-color": #f1f1f2,
);
//font-size
$font-size-base: 1rem;
$small-font-size: $font-size-base * 0.8125;

$large-font-size: $font-size-base * 1.25;

//colors
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$checkboxes-color: #8e8c8a !important;
$headtitle: #cbcb00;
$customwhite: #ffffff;
$custom_gray: #b8b5b4;
$custom-light-gray: #e7e8e9;
$custom-medium-gray: #cfd1d2;
$light-black: #585554;
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "checkboxes-color": $checkboxes-color,
  "headtitle-color": $headtitle,
  "custom-white": #ffffff,
  "custom_gray": $custom_gray,
  "custom-light-gray": $custom-light-gray,
  "custom-medium-gray": $custom-medium-gray,
  "ligh-black": $light-black,
  // "white": $white,
  // "gray": $gray-600,
  // "gray-dark": $gray-800,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
) !default;

$component-active-bg: $custom_gray;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// scss-docs-end colors-map

// scss-docs-start theme-color-variables
// $primary: $blue !default;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

@import "../node_modules/bootstrap/scss/_functions";

@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";
@import "../node_modules/bootstrap/scss/_forms";

@import "../node_modules/bootstrap/scss/_card";
@import "../node_modules/bootstrap/scss/_grid";
@import "../node_modules/bootstrap/scss/_navbar";
@import "../node_modules/bootstrap/scss/_transitions";

@import "../node_modules/bootstrap/scss/_utilities";

@import "../node_modules/bootstrap/scss/_buttons";

///////App component////////
html {
  font-size: $small-font-size;
  box-sizing: border-box;
}
body {
  font-family: $font-family-sans-serif;
  background: map_get($theme-colors, "body-color");
  font-size: $small-font-size;
}

.header {
  background: map_get($theme-colors, "subheader");

  &-title {
    color: map_get($colors, "headtitle-color");
  }

  color: map_get($colors, "checkboxes-color");
}

.search-form {
  color: map_get($colors, "checkboxes-color");
}

////HEADER///////

nav {
  position: relative;
  background: #2e2e2d;

  border: 1px solid #adaaa9;
  color: #ffffff;
  .folder {
    background: map_get($theme-colors, "subheader");
  }
  .navbar {
    &-brand {
      font-size: 1.3rem;
      color: #8e8c8a;
    }
  }
}

///FORM

.btn {
  background: map_get($colors, "custom_gray") !important;
}

.form-gr {
  input[type="text"] {
    background: map_get($colors, "custom-light-gray");
    border: 1px solid map_get($colors, "custom_gray");
  }
}
///////HEADER////////
.logo {
  span {
    font-size: $font-size-base;
  }
}

.header-title {
  font-size: $large-font-size;
}

///////Grid Cards////////

.card {
  font-size: $small-font-size;
  border: 2px solid map-get($colors, custom-white);
}

.image-card {
  background: map_get($colors, "custom-light-gray");
}
.card-header {
  background: map_get($colors, "custom-medium-gray");
}

.card-content {
  background: #dedfe0;
  color: map_get($colors, "ligh-black");
}
